.App {
  text-align: center;
  z-index: 2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


section {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ff4f8b, #dff1ff);
}
section::before {
  content: "";
  position: absolute;  
  bottom: 0;
  width: 100%;
  height: 92.7%;
  z-index: 1;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

section .color{
  position: absolute;
  filter: blur(150px);
}

section .color:nth-child(1)
{
  background: #ff359b;
  width: 600px;
  height: 600px;
  top: -150px; 

}
section .color:nth-child(2)
{
  background: #00d2ff;
  width: 500px;
  height: 500px;
  bottom: -150px; 
  left: 100px;
}
section .color:nth-child(3)
{
  background: #fffd87;
  width: 300px;
  height: 300px;
  bottom: 50px; 
  right: 0px;
  
}


.boxGlass {
  position: relative;
}

.boxGlass .square {
  position: absolute;
  backdrop-filter:blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s);
}
@keyframes animate{
 0%,100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
}

.s1{
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}
.s2 {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
}
.s3 {
  bottom: -295px;
  right: -60px;
  width: 75px;
  height: 75px;
}

.s4 {
  top: -25px;
  left: 35px;
  width: 45px;
  height: 45px;
  z-index: 1;
}
.s5 {
  top: -5px;
  left: -25px;
  width: 55px;
  height: 55px;
  z-index: 0;
}
.s6 {
  bottom: -50px;
  left: 50px;
  width: 65px;
  height: 65px;
  z-index: 1;
}

.containerGlass {
  position: relative;
  width: 400px;
  min-height: 250px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter:blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.formGlass {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.formGlass .hConect {
  position: relative;
  color : #fff;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0px;
  margin-bottom: 40px;
  bottom: 25px;
}
.formGlass h2::before {
  content: '';
  position: absolute;
  left: 10%;  
  bottom: -3px;
  width: 80%;
  height: 2px;
  background: rgba(255, 255, 255, 0.664);
}

.formGlass .imputBox {
  width: 100%;
  margin-top: 20px;

}

.formGlass .Button {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.formGlass .inputBox input::placeholder{
  color: #fff;
  opacity: 1;
}

.forget{
  margin-top: 5px;
  color: #fff;
}
.forget a {
  color: #fff;
  font-weight: 600;
}



.conected {
  display: inline-block;
}

